<article class="sidebar">
  <h1 class="sidebar-title">Contact!</h1>
  <ul class="sidebar-body">
    <li>Phone number: +841675534026</li>
    <li>Email: vietdungnguyen0412@gmail.com</li>
    <li><a href="https://www.facebook.com/cham.mtt" target="_blank">Facebook</a></li>
    <li><a href="https://www.instagram.com/vietdungnguyen0412/" target="_blank">Instagram</a></li>
    <li>Github of this site is <a href="https://github.com/muwcjlinh/MUCCV" target="_blank">here</a></li>
  </ul>
</article><!-- article -->
